# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.env/
.venv/

# macOS
.DS_Store

# Streamlit cache
.streamlit/

# System
*.log

# Large data/models
*.h5
*.pt
*.dylib
*.so
*.bin

# GitHub LFS suggestion
*.lfs
